{% load static swampdragon_tags %}
<!DOCTYPE html>
<html>
<head lang="en">
    <!-- AngularJS -->
{#    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>#}
    <script type="text/javascript" src="/static/angular.js"></script>

    <script type="text/javascript" src="{% static 'swampdragon/js/dist/swampdragon.min.js' %}"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}swampdragon/js/dist/datamapper.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}swampdragon/js/angular/services.js"></script>

    <!-- To-do app -->
    <script type="text/javascript" src="/static/app.js"></script>
    <script type="text/javascript" src="/static/controllers.js"></script>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% verbatim %}
<div ng-controller="TodoListCtrl">
    <h3>{{ todoList.name }}</h3>
    <pre>{{ todoList.description }}</pre>

    <ul>
        <li ng-repeat="item in todoItems">
            {{ item.text }}
            <button type="button" ng-click="itemDone(item)">
                check
            </button>
            <span ng-show="item.done">done!</span>
        </li>
    </ul>
</div>
{% endverbatim %}


{#<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular.js"></script>#}

{% swampdragon_settings %}


</body>
</html>